/* Universala regler */

a {
	color: #1de9b6;;
}

a:hover {
	color: #a7ffeb;
}

/* Nav */

.brand-logo {
	margin-left: 20px;
}

/* Main */


.portrait img {
	width: 250px;
	margin-top: 20px;
}

.col.s4 {
	padding: 0;
}

.playa {
	background: url(img/chili.jpg);
	width: 200px;
}

.parallax-container {
    height: 300px;
}

.parallax-container img {
	width: 100%;
}
        
/* Footer */

footer img {
	width: 25px;
}